:root {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
}

header {
  background-color: rgba(3 0 24 / 0.83);
}
footer {
  background-color: rgba(3 0 24 / 0.83);
}
body {
  padding: 0;
  margin: 0;
}

p,
li,
span,
h1,
h2,
address {
  color: lab(100 0 -0.03 / 0.78);
}

h2 {
  font-size: xx-large;
}
a {
  padding: 0;
  margin: 0;
  color: lab(100 0 -0.03 / 0.78);
  text-decoration: none;
  color: #d88a4f;
}
a:hover {
  text-decoration: 2px underline #d63d29;
}

/* Carousel */
