.gallery {
  background-color: coral;
}

.gallery div {
  padding: 2rem;
  margin: 0 auto;
  display: grid;
  grid-gap: 12px;
  max-width: 1920px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.item img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 12px;
}
